@font-face {
    font-family: 'Genty Sans';
    src: url(GentySans-Regular.ttf);
}

h1, label, button, input {
    font-family: 'Genty Sans', Helvetica, Arial;
}

.form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
}

.title_card {
    text-align: center;
    font-size: 43px;
}

.detail_form {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

.input {
    border-bottom: 3px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 25px;
    width: 350px;
    margin-bottom: 9px;
    font-size: 18px;
    color: rgba(0,0,0,0.26);
    padding-top: 3px;
    padding-bottom: 3px;
}

.register_button {
    background-color: #242424;
    width: 175px;
    height: 50px;
    color: white;
    border-radius: 50px;
    font-size: 11.3px;
    border: none;
}