@font-face {
    font-family: 'Genty Sans';
    src: url(GentySans-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Arabic';
    src: url(Montserrat-Arabic-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sections{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.topbar {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.storename h2 {
    font-family: 'Genty Sans', 'Montserrat Arabic', Arial;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar button {
    font-family: 'Montserrat Arabic', Arial, sans-serif;
    height: 55px;
    width: 80px;
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: lightgray;
    border-radius: 15px;
}

.user img {
    width: 40px;
    height: 47px;
}

.user-section {
    flex: 1;
    padding-left: 170px;
}

.user-section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray;
}

.details-section {
    flex: 3;
    max-width: 100%;
}

.name-section {
    font-family: 'Genty Sans', 'Montserrat Arabic', Arial;
    font-size: 50px;
    margin-bottom: 10px;
}

.favorites-section, .adoptions-section {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.favorites-section h2, .adoptions-section h2, .waitlist-section h2 {
    font-family: 'Genty Sans', 'Montserrat Arabic', Arial;
    font-size: 35px;
}

.imgcont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.polaroid {
    background-color: #f4f4f4;
    width: 300px;
    height: 400px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px gray;
    flex-shrink: 0;
}

.image {
    background-color: black;
    width: 260px;
    height: 260px;
    margin: 0 auto;
}

.image p {
    font-family: 'Genty Sans', 'Montserrat Arabic', Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 260px;
}

.pet-name{
    font-family: 'Genty Sans', 'Montserrat Arabic', Arial;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 75px;
}

a {
    text-decoration: none;
}

